@import 'bootstrap/scss/bootstrap';


.rounded-container {
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 20px;
}

.custom-header {
  width: 70%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the header horizontally */
  @extend .bg-light;
  @extend .py-3;
  @extend .rounded-container;
}

.custom-h1 {
  @extend .text-center;
  @extend .text-primary;
  //@extend .font-weight-bold;
}


